.appContainer {
  position: relative;
}
.body {
  display: flex;
  background:white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(60,72,88,0.18);
  z-index: 99;
}